/* =============
    Typography
============= */
body{
    font-family: 'Righteous', cursive;
}

h1,h2,h3,h4{
    font-family: 'Knewave', cursive;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}