/* =============
    Section 5
============= */
#section-5{
    background-color: $red;
    color: $yellow;
    height: 400px;

    @include md {
        height: 766px;
    }

    @include lg {
        height: 973px;
    }

    @include xl {
        height: 1000px;
    }

    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". section-1 .";

    >div {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-areas:
            "aside pull-quote";
    }

    #pull-quote { 
        grid-area: pull-quote;
        background-image: url(../img/banquet.png);
        background-size: 197px 347px;
        background-position: right;
        background-repeat: no-repeat;
        height: 364px;

        @include md {
            background-size: 365px 676px;
            height: 676px;
            width: 365px;
            margin-left: auto;
            margin-right: 0;
        }

        @include lg {
            background-size: 450px 900px;
            height: 1000px;
            width: 600px;
        }
    
        // @include xl {
        //     height: 1467px;
        // }
    }

    aside {
        grid-area: aside;
        // top: 30px;
        
            h2 {
                text-align: right;
                padding-top: 130px;   
                padding-right: 100px;

                @include md {
                    padding-top: 230px;
                    padding-right: 280px;
                }

                @include lg {
                    padding-top: 350px;
                    padding-right: 200px;
                    padding-left: 100px;
                }
            }
    }
    
}
