/* =============
    Section 6
============= */
#section-6 {
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". section-6 .";
  background-image: url(../img/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;

  @include md {
    height: 511px;
  }

  @include lg {
    height: 964px;
  }

  >div {
    grid-area: section-6;

    h2 {
      color: $yellow;
      text-align: center;

      @include md {
        font-size: 60px;
        padding-top: 30px;
      }

      @include lg {
        padding-bottom: 30px;
        padding-top: 155px;
      }
    }

    * {
      box-sizing: border-box;
      text-align: center;
      margin: 8px;

      @include md {
        margin: 15px;
      }
    }

      textarea {
        font-size: 15px;
        width: 70%;
        resize: vertical;
        border-radius: 6px;
        border: 0;
        height: 25px;
        text-align: left;

        @include md {
          height: 40px;
          width: 50%;
        }

        @include lg {
          height: 50px;
        }
      }

      #big {
        height: 70px;
        
        @include md {
          height: 100px;
        }

        @include lg {
          height: 247px;
        }

      }

    #button {
      background-color: $red;
      border-radius: 20px;
      color: $white;
      width: 100px;
      height: 30px;
      text-align: center;
      margin: 0 auto;

      @include md {
        width: 140px;
        height: 40px;
      }

      @include lg {
        border-radius: 40px;
        height: 50px;
        width: 174px;
      }
    }
  }
}