/* =============
    Section 3
============= */
#section-3{
    .grid-content{
        display: grid;
    }
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". grid-content .";
    background-color: $yellow;

    ul {
        display: grid;
        grid-gap: 10px;

        grid-template-areas: 
            "card-1"
            "card-2"
            "card-3";

        #card-1 {
            background-color: $white;
            padding-bottom: 50px;
        }

        #image-1 {
            grid-area: 2019;
            background-image: url("../img/2019.jpg");
            background-position: center;
            background-size: cover;
            height: 400px;
            width: 300px;
        }

        #fest-19 {
            h3 {
                text-align: center;
            }
        }

        #card-2 {
            background-color: $white;
            padding-bottom: 50px;
        }

        #image-2 {
            grid-area: 2019;
            background-image: url("../img/2018.jpg");
            background-position: center;
            background-size: cover;
            height: 400px;
            width: 300px;
        }

        #fest-18 {
            h3 {
                text-align: center;
            }
        }

        #card-3 {
            background-color: $white;
            padding-bottom: 50px;
        }

        #image-3 {
            grid-area: 2019;
            background-image: url("../img/2017.jpg");
            background-position: center;
            background-size: cover;
            height: 400px;
            width: 300px;
        }

        #fest-17 {
            h3 {
                text-align: center;
            }
        }

    
    }


    // .grid-content{
        
    // }

}