/* =============
    Section 4
============= */
#section-4{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: ". section-4 .";
    padding-bottom: 150px;
    margin: 30px;

    @include md {
        margin: 0px;
        padding-bottom: 400px;
    }

    @include lg {
        grid-template-areas: ". grid-content .";
        padding-top: 400px;
        padding-bottom: 200px;
    }

    .grid-content {
        #title{ 
            padding-bottom: 100px;
            h1{
                color: $blue;
            }

            @include md {
                padding-top: 90px;
                margin: 0px;
                padding-bottom: 0px;
            }

            @include lg {
                padding-bottom: 60px;
            }
        }

        ul {

            li {
                background-color: $grey;
                height: 590px;

                @include md {
                    display: grid;
                    grid-template-columns: 10% auto;
                    grid-template-areas:
                    "number body"
                    "picture picture";
                    margin: 130px;
                }

                @include lg {
                    height: 480px;
                    width: 530px;
                    grid-template-columns: 14% auto 20%;
                    grid-template-areas:
                    "number body picture";
                    margin: 20px;
                }

                #large-display {
                    display: none;

                    @include md {
                        height: 450px;
                        // width: 490px;
                    }

                    h2{
                        grid-area: number;
                        color: $yellow;
                        font-size: rem-calc(200);
                        position: relative;
                        display: none;
                        
                        @include md {
                            display: block;
                            font-size: rem-calc(300);
                            text-align: left;
                            top: 120px;
                            left: -100px;
                        }
    
                        @include lg {
                            font-size: rem-calc(370);
                            top: 70px;
                            left: -120px;
                        }
                    }

                    p {
                        grid-area: body;
                        color: $black;
                        text-align: justify;
                        display: none;
    
                        @include md {
                            width: 300px;
                            line-height: rem-calc(28);
                            // margin: 30px;
                            margin-left: 140px;
                            display: block;
                        }

                        @include lg {
                            margin-right: 90px;
                            margin-left: 100px;
                        }
                    }

                    @include md {
                        display: block;
                    }
                }

                #small-display {
                    display: block;

                    h2{
                        color: $yellow;
                        font-size: rem-calc(200);
                        position: relative;
    
                        display: block;
                        
                        @include md {
                            display: none;
                        }
                        
                        p {
                            color: $black;
                            margin: 30px;
                            text-align: justify;
                            display: block;
        
                            @include md {
                                line-height: rem-calc(28);
                                margin: 50px;
                                display: none;
                            }
                        }
                    }

                    @include md {
                        display: none;
                    }
                }
                
            }

            section {
                grid-area: picture;
                background-position: center;
                background-size: cover;
                height: 260px;

                @include md {
                    height: 490px;
                    width: 490px;
                }

                @include lg {
                    margin-top: 70px;
                    height: 450px;
                    width: 450px;
                }
            }
            #reason-1 {
                grid-area: reason-1;
                margin-bottom: 250px;


                @include md {
                    margin-bottom: 500px;
                }

                @include lg {
                    margin-bottom: 200px;
                }
    
                #gallery-1 {
                    background-image: url("../img/reason-1.png");
                }
            }

            #reason-2 {
                grid-area: reason-2;
                margin-bottom: 200px;

                #red {
                    color: $red;
                }

                @include md {
                    margin-bottom: 500px;
                }

                @include lg {
                    margin-bottom: 200px;
                }

                #gallery-2 {
                    background-image: url("../img/reason-2.png");
                }
            }

            #reason-3 {
                grid-area: reason-3;

                #gallery-3 {
                    background-image: url("../img/reason-3.png");
                }
            }
        }
    }
}